<div id="heat_el" style="width:1002px; height: 1490px;position: absolute;opacity:0.8;background: #eee;left:0px;top:0px;z-index:999;">
</div>
<script>
  var config = {
    "radius": 12,
    "element": "heat_el",
    "visible": true,
    "opacity": 40,
    "gradient": { 0.45: "rgb(0,0,255)", 0.55: "rgb(0,255,255)", 0.65: "rgb(0,255,0)", 0.95: "yellow", 1.0: "rgb(255,0,0)" }
  };

  var heatmap = heatmapFactory.create(config);
  <% @heats.each do |heat| %>
    heatmap.store.addDataPoint(<%= heat.xpoint - (heat.screen_ratio.split('*')[1].to_i - 1002) %>, <%= heat.ypoint %>, 50)
  <% end %>
</script> 
<img src="/heatimg/www_whst_gov_cn.png" style="width:1002px; height: 1490px;position:absolute;left:0px;top:0px;z-index:-1;"></img> 
