<ul id="demo_links">
  <li><a href="#" data-no-turbolink>link 1</a></li>
  <li><a href="#" data-no-turbolink>link 2</a></li>
  <li><a href="#" data-no-turbolink>link 3</a></li>
  <li><a href="#" data-no-turbolink>link 4</a></li>
  <li><a href="#" data-no-turbolink>link 5</a></li>
  <li><a href="#" data-no-turbolink>link 6</a></li>
  <li><a href="#" data-no-turbolink>link 7</a></li>
  <li><a href="#" data-no-turbolink>link 8</a></li>
  <li><a href="#" data-no-turbolink>link 9</a></li>
  <li><a href="#" data-no-turbolink>link 10</a></li>
  <li><a href="#" data-no-turbolink>link 11</a></li>
  <li><a href="#" data-no-turbolink>link 12</a></li>
  <li><a href="#" data-no-turbolink>link 13</a></li>
  <li><a href="#" data-no-turbolink>link 14</a></li>
  <li><a href="#" data-no-turbolink>link 15</a></li>
  <li><a href="#" data-no-turbolink>link 16</a></li>
  <li><a href="#" data-no-turbolink>link 17</a></li>
  <li><a href="#" data-no-turbolink>link 18</a></li>
  <li><a href="#" data-no-turbolink>link 19</a></li>
  <li><a href="#" data-no-turbolink>link 20</a></li>
</ul>
