div id="view_frame" style="background: white; border: solid 1px black; \
  width: #{site.width + 2}px; \
  height: #{site.height + 64}px; position: absolute; z-index: 9; top: 20px; \
  left: 50%; margin-left: -#{site.width/2}px"

  .pure-g
    .pure-u-1-2
      h2 = site.name + "'s heat map"

  div id="heat_el" style="width: #{site.width}px; height: #{site.height}px; \
    position: absolute; opacity: 0.8; background: #eee; left: 0px; top: 64px; \
    z-index: 999;"

  img src="/heatimg/#{site.img_name}" style="width: #{site.width}px; \
    height: #{site.height}px; position: absolute; left: 0px; top: 64px; \
    z-index: 99;"

