div id="view_frame" style="background: white; \
  width: #{site.width + 2}px; \
  height: #{site.height + 2}px; position: absolute; z-index: 99; top: 20px; \
  left: 50%; margin-left: -#{site.width/2}px" 

  img src="/heatimg/#{site.img_name}" style="width: #{site.width}px; \
    height: #{site.height}px; position: absolute; left: 0px; top: 0px; \
    z-index: 999;" 
